/*CSS style sheet*/

@font-face {
	font-family: TwentiethCentury;
	src: url('TwentiethCentury.ttf') format('truetype');
}

#main-wrapper{
width:500px;
margin: 0 auto;
background:white;
padding:5px;
border-radius:10px;
border: 2px solid #95a5a6;
}
.avatar{
width:150px;
text-align:center;
}
 
.myform{
width:450px;
margin:0 auto;
}
 
.inputvalues{
width:430px;
margin:0 auto;
padding:5px;
}
#login_btn{
margin-top:10px;
background-color:#27ae60;
padding:5px;
color:white;
width:100%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#register_btn{
margin-bottom:20px;
margin-top:10px;
background-color:#3498db;
padding:5px;
color:white;
width:100%;
text-align:center;
font-size:18px;
font-weight:bold;
}
 
#signup_btn{
margin-top:10px;
background-color:#3498db;
padding:5px;
color:white;
width:100%;
text-align:center;
font-size:18px;
font-weight:bold;
}
 
#back_btn{
margin-top:10px;
background-color:#e74c3c;
padding:5px;
color:white;
width:30%;
text-align:center;
font-size:18px;
font-weight:bold;
}

#logout_btn{
margin-top:10px;
background-color:#c0392b;
padding:5px;
color:white;
width:100%;
text-align:center;
font-size:18px;
font-weight:bold;
margin-bottom:20px;
}




table,th, td {
    border: 1px solid black;
    text-align: center;

}
tr:hover {background-color: #f5f5f5}

th {
	height: 50px;  
	text-align: center; 
	background-color: #699bcc; 
	color: white;
}

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.width {
	width:80%;
}